aiohttp==3.8.5
aiosignal==1.2.0
altgraph==0.17.3
apparmor==2.12
apt-clone==0.2.1
asn1crypto==0.24.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
base58==2.1.1
beautifulsoup4==4.6.0
bitarray==2.8.0
blinker==1.4
catfish==1.4.4
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==6.7
colorama==0.3.7
command-not-found==0.3
commonmark==0.9.1
cryptography==36.0.1
cupshelpers==1.0
Cython==3.0.0
cytoolz==0.12.2
dataclasses==0.8
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.3.3
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
Flask==0.12.2
frozenlist==1.2.0
grpcio==1.36.1
grpcio-tools==1.36.1
hexbytes==0.2.3
html5lib==0.999999999
httplib2==0.9.2
idna==3.4
idna-ssl==1.1.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipfshttpclient==0.8.0a2
itsdangerous==0.24
Jinja2==2.10
jsonschema==3.2.0
kazam==1.4.5
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
LibAppArmor==2.12
lightdm-gtk-greeter-settings==1.2.2
lru-dict==1.2.0
lxml==4.2.1
MarkupSafe==1.0
meld==3.18.0
menulibre==2.2.0
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
netifaces==0.10.4
nyx==2.0.4
oauth==1.0.1
olefile==0.45.1
onionshare==0.9.2
opensnitch-ui==1.3.6
PAM==0.4.2
parsimonious==0.8.1
pexpect==4.2.1
Pillow==5.1.0
protobuf==3.19.5
psutil==5.4.2
pycairo==1.16.2
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.18.0
pycups==1.9.73
Pygments==2.14.0
PyGObject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
pyOpenSSL==17.5.0
pyperclip==1.8.2
pyrsistent==0.18.0
PySocks==1.6.5
python-apt==1.6.6
python-dateutil==2.6.1
python-debian==0.1.32
pyxattr==0.6.0
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.27.1
requests-unixsocket==0.1.5
rich==12.6.0
rlp==2.0.1
rpl==1.5.6
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
semantic-version==2.10.0
setuptools-rust==1.1.2
simplejson==3.13.2
six==1.16.0
ssh-import-id==5.7
stem==1.6.0
systemd-python==234
toolz==0.12.0
tradingview-ta==3.3.0
typing_extensions==4.1.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unicode-slugify==0.1.3
Unidecode==1.2.0
urllib3==1.26.16
usb-creator==0.3.3
varint==1.0.2
wadllib==1.3.2
web3==5.27.0
webencodings==0.5
websockets==9.1
Werkzeug==0.14.1
xkit==0.0.0
yarl==1.7.2
youtube_dl==2018.3.14
zipp==3.6.0
zope.interface==4.3.2
